* {
  box-sizing: border-box;
  font-family: helvetica;
}

header {
  background-color: lightgreen;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

header>h1 {
  text-align: center;
  background-image: url("https://assets-cdn.github.com/images/modules/logos_page/Octocat.png");
  background-position: top right;
  background-size: 60px 40px;
  background-repeat: no-repeat;
}

header>p {
  padding-left: 25px;
}

.column-1 {
  display: inline-block;
  vertical-align: top;
  background-color: beige;
  width: 45%;
  padding: 20px;
  margin-left: 2.5%;
  margin-right: 2.0%;
  border-radius: 7px;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
  background-color: lightblue;
  border-radius: 7px;
  width: 45%;
  padding: 20px;
  margin-right: 2.5%;
  margin-left: 2.0%;
}

footer {
  background-color: pink;
  width: 100%;
  margin: 20px 0 0;
  min-height: 100px;
  border-radius: 7px;
  text-align: center;
  padding-top: 30px;
}


