* {
box-sizing: border-box;
font-family: helvetica;
}
body{
  margin:0;
  display:flex;
  flex-flow:row wrap;
}
body> header, .column-1, .column-2, footer{
  background:#ccc;
  border-radius:7px;
  margin:5px;
  padding: 20px;
}
body> header{
  order:1;
  flex:0 1 100%;
  min-height:100px;
}
header>h1 {
text-align: center;
background-image: url("https://assets-cdn.github.com/images/modules/logos_page/Octocat.png");
background-position: top right;
background-size: 60px 40px;
background-repeat: no-repeat;
}
header >p {
padding-left: 25px;
}
body> .column-1, .column-2{
    order:2; flex:1 ; min-height:100px;

}
body> .column-2{
    order:3; flex: 1; min-height:100px;

}
body> footer{
  order:4; flex:0 1 100%; height:100px;
  text-align:center;
  padding-top:30px;
}